.messages-dashboard {
  height: 80vh;
  width: 100dvw;
  overflow: auto;
  background-color: #fff;
  color: #f4f4f4;
}

.messages-dashboard li{
    padding: 1%;
    border: #374754 solid 1px;
}

.messages-sender-dashboard {
  width: 100dvw;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
}

.messages-sender-dashboard button {
  padding: 1%;
  width: fit-content;
  border-radius: 8px;
  background-color: #0989fc;
  color: #fff;
  border: transparent;
}

.messages-sender-dashboard button:hover {
  background-color: #213a63;
}

.messages-sender-dashboard input {
  padding: 1%;
  width: 40vw;
  border-radius: 8px;
  border: transparent;
}

.dashboard-header h1{
    margin-left: 5%;
}

.dashboard-header {
    background-color: #fff;
    color: green;
    border-bottom: #000 solid 1px;
}